<section id="projects-section" class="max-w-[1400px] mx-auto my-20">  
    <div class="relative mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[8px] rounded-t-xl max-w-[1000px] h-[612px]">
        <div class="relative rounded-lg h-[592px] bg-white dark:bg-gray-800">
            <div id="screen-content" class="hidden *:aspect-video h-full overflow-y-scroll grid-cols-1 gap-5 p-3 md:grid-cols-2 place-items-center rounded-md bg-black">
                <div *ngFor="let project of myProjects" class="project_card h-full w-full flex flex-col justify-between p-3 shadow-md bg-gray-200 dark:bg-gray-600 rounded-2xl">
                    <div class="main_content_project">
                        <div class="title-card flex items-center justify-between">
                            <h2 class="text-lg font-semibold text-gray-900 dark:text-white">{{ componentLanguageEN ? project.nameEN || project.name : project.name }}</h2>
                            <i class="fa-solid fa-xmark cursor-pointer mr-2 hover:bg-gray-400 p-2 rounded-md"></i>
                        </div>
                        <hr class="my-2">
                        <p class="text-base font-normal text-gray-500 dark:text-gray-400">{{ componentLanguageEN ? project.descriptionEN || project.description : project.description }}</p>
                    </div>
                    <a [href]="project.projectURL" target="_blank" class="text-blue-500 dark:text-blue-400 hover:underline hover:[&>i]:underline">Link <i class="fa-solid fa-chain ms-1"></i> </a>
                </div>
            </div>
            <div  class="rounded-lg transition duration-300">
                <div id="mockup-wXP-loading" class="window bg-white dark:bg-black rounded-2xl w-full h-full">
                    <div class="logo">
                      <img src="./assets/images/wXp.png" alt="Windows Xp Logo" class="drop-shadow-sm drop-shadow-white">
                    </div>
                    <div class="container">
                      <div class="box"></div>
                      <div class="box"></div>
                      <div class="box"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="relative mx-auto bg-gray-900 dark:bg-gray-700 rounded-b-xl rounded-t-sm max-w-[1000px] h-[21px]">
        <div class="absolute left-1/2 top-0 -translate-x-1/2 rounded-b-xl w-[56px] h-[5px] md:w-[96px] md:h-[8px] bg-gray-800"></div>
    </div>
</section>