<h3
  class="text-center flex flex-row items-center justify-center gap-4 text-2xl font-bold font-mono mb-8 underline underline-offset-4"
>
  <picture>
    <source
      srcset="./assets/images/emojis_animated/world.webp"
      type="image/webp"
    />
    <img
      src="./assets/images/emojis_animated/world.webp"
      alt="🌍"
      width="42"
      height="42"
    />
  </picture>
  Sobre mí
</h3>
<div id="aboutme-c" class="max-w-[600px] mx-auto p-2 rounded-xl">
  <p class="text-gray-300">
    Mi nombre es
    <span class="font-bold text-[#34A853]">{{ NAIM_BGDL.name }}</span
    >, de Jerez de la Frontera, Andalucía. Con una sólida formación en
    <span class="font-bold text-[#FFC107]">programación</span> y
    <span class="font-bold text-[#8BC34A]">desarrollo de software</span>. Mi
    enfoque principal es la creación de aplicaciones tecnológicas
    <span class="font-bold text-[#4CAF50]">innovadoras</span> y
    <span class="font-bold text-[#9C27B0]">eficientes</span>.
  </p>
  <br />
  <p class="text-gray-300">
    Me encuentro en constante búsqueda de
    <span class="font-bold text-[#E91E63]">desafíos</span> y
    <span class="font-bold text-[#FF9800]">oportunidades</span> para crecer
    <span class="font-bold text-[#009688]">profesionalmente</span>. Mi enfoque
    es la creación de
    <span class="font-bold text-[#7CB342]">soluciones tecnológicas</span>
    <span class="font-bold text-[#7CB342]"> innovadoras</span> y
    <span class="font-bold text-[#64B5F6]">eficientes</span>, utilizando las
    últimas <span class="font-bold text-[#9E9E9E]">tecnologías</span> y
    <span class="font-bold text-[#2196F3]">herramientas</span> disponibles.
  </p>
  <br />
  <p class="text-gray-300">
    Además de mi experiencia en
    <span class="font-bold text-[#4CAF50]">desarrollo web</span>, también tengo
    experiencia en el <span class="font-bold text-[#FFC107]">diseño</span> y
    utilizando tecnologías como
    <span class="font-bold text-[#2196F3]">Angular</span>,
    <span class="font-bold text-[#2196A3]">React</span>,
    <span class="font-bold text-[#E91E63]">Bootstrap</span> y
    <span class="font-bold text-[#8BC34A]">Tailwind</span>.
  </p>
  <div class="text-center mt-12 mb-4">
    <a
      href="./assets/pdf/CV/cv_nbgl_2025.pdf"
      target="_blank"
      rel="noopener noreferrer"
      class="px-4 py-2 text-blue-200 bg-blue-700 hover:bg-blue-800 transition-colors duration-200 rounded-md"
      >Descargar CV</a
    >
  </div>
</div>
