<button data-drawer-target="sidebar-multi-level-sidebar" data-drawer-toggle="sidebar-multi-level-sidebar" aria-controls="sidebar-multi-level-sidebar" id="sidebar-btn" type="button" class="inline-flex bg-gray-800 fixed z-30 items-center p-3 mt-3 animate__animated animate__lightSpeedInLeft animate__faster outline outline-white/25 -outline-offset-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden focus:outline-none focus:ring-2 hover:bg-gray-700 focus:ring-gray-600">
   <span class="sr-only">Open sidebar</span>
   <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
   <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
   </svg>
   <p class="ml-3">Menu</p>
</button>
<aside id="sidebar-multi-level-sidebar" class="fixed animate__animated animate__slideInLeft animate__faster top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0 font-header" aria-label="Sidebar">
   <div class="flex flex-col justify-between h-full px-3 py-4 overflow-y-auto bg-gray-800">
      <ul class="space-y-2 font-medium">
         <li *ngFor="let option of SIDE_BAR_OPTIONS">
            <a [routerLink]="option.path" routerLinkActive="bg-gray-700" class="flex items-center p-2 rounded-lg text-white hover:bg-gray-700 group hover:*:first:text-white">
               <i class="fa-solid fa-{{ option.icon }} text-gray-400"></i>
               <span class="ms-3">{{ option.title }}</span>
            </a>
         </li>
         <li>
            <button type="button" routerLinkActive="bg-gray-700" class="flex items-center w-full p-2 text-base transition duration-75 rounded-lg group text-white hover:bg-gray-700 hover:*:first:text-white" aria-controls="dropdown-example" data-collapse-toggle="dropdown-example">
                  <i class="fa-solid fa-folder-tree text-gray-400"></i>
                  <span class="flex-1 ms-3 text-left rtl:text-right whitespace-nowrap"> <a routerLink="/proyectos">Proyectos</a></span>
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                     <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                  </svg>
            </button>
            <ul id="dropdown-example" class="hidden py-2 space-y-2">
                  <li *ngFor="let project of myProjects">
                     <a target="_blank" [href]="project.projectURL" [title]="project.description" class="flex items-center w-full p-2 transition duration-75 rounded-lg pl-11 group before:content-['-'] before:mr-2 text-white hover:bg-gray-700">{{ project.name }}</a>
                  </li>
            </ul>
         </li>
      </ul>
      <app-footer></app-footer>
   </div>
</aside>