<footer class="bg-white rounded-lg shadow-sm dark:bg-gray-900 m-4">
    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
        <div class="sm:flex sm:items-center sm:justify-between">
            <a href="https://www.github.com/nbglroot/" target="_blank" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
                <img src="./assets/images/logo.png" alt="Logo" class="w-12 rounded-md shadow-md shadow-gray-700">
                <span class="self-center text-2xl font-semibold whitespace-pre-wrap dark:text-white">Naim Babanaceur García de Lara</span>
            </a>
            <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
                <li>
                    <a [routerLink]="language === 'ES' ? '/es/inicio' : '/en/home'" class="hover:underline me-4 md:me-6"> {{ language === 'ES' ? 'Inicio' : 'Home' }} </a>
                </li>
                <li>
                    <a [routerLink]="language === 'ES' ? '/es/sobre-mi' : '/en/about-me'" class="hover:underline me-4 md:me-6"> {{ language === 'ES' ? 'Acerca de mí' : 'About me' }} </a>
                </li>
                <li>
                    <a [routerLink]="language === 'ES' ? '/es/contacta-me' : '/en/contact-me'" class="hover:underline me-4 md:me-6"> {{ language === 'ES' ? 'Contacto' : 'Contact me' }} </a>
                </li>
                <li>
                    <a [routerLink]="language === 'ES' ? '/es/proyectos' : '/en/projects'" class="hover:underline"> {{ language === 'ES' ? 'Proyectos' : 'Projects' }} </a>
                </li>
            </ul>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 <a href="https://github.com/nbglroot/" target="_blank" class="hover:underline">Naim Babanaceur García de Lara</a>. All Rights Reserved.</span>
    </div>
</footer>

