<main class="my-15 sm:my-0">
    <div class="">
        <nav class="flex" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
            <li class="inline-flex items-center">
            <a routerLink="/inicio" class="inline-flex items-center text-sm font-medium text-gray-400 hover:text-white">
                <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
                </svg>
                Inicio
            </a>
            </li>
            <li>
            <div class="flex items-center">
                <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                </svg>
                <p class="ps-1.5 inline-flex items-center text-sm font-medium text-gray-400 hover:text-gray-300 cursor-default">Contacta Me</p>
            </div>
            </li>
        </ol>
        </nav>
    </div>
    <h1 class="text-2xl mb-30">Contacta conmigo</h1>

    <!-- begin :: CONTACT Section -->
    <app-contact-form></app-contact-form>
    <!-- end :: CONTACT Section -->

    <span class="flex items-center max-w-[1400px] mx-auto mt-60 dividers_sections"> <!-- Divider :: (top) = CONTACT Section | (bottom) = CREDIT Section -->
        <span class="shrink-0 pe-4 text-white">Creditos</span>
      
        <span class="h-px flex-1 bg-gray-600"></span>
    </span>

    <!-- begin :: CREDIT Section -->
    <section class="max-w-[900px] mx-auto">
        <p class="text-center">Este formulario funciona gracias a <a href="https://formsubmit.co/" target="_blank" class="text-blue-300 hover:text-blue-500">FormSubmit</a></p>
    </section>
    <!-- end :: CREDIT Section -->
</main>