<section id="about-section" class="max-w-[650px] transition-all duration-1000 opacity-0 translate-x-[20rem] mx-auto mb-20 relative">
    <p class="text-[#64E9F8]">My name is <span class="font-bold text-[#34A853]">{{ NAIM_BGDL.name }}</span>, with a solid background in <span class="font-bold text-[#FFC107]">programming</span> and <span class="font-bold text-[#8BC34A]">software development</span>. 
        My main focus is creating <span class="font-bold text-[#4CAF50]">innovative</span> and <span class="font-bold text-[#9C27B0]">efficient</span> technological applications.
    </p>
    <br>
    <p class="text-[#e2e2e2]">With a solid background in <span class="font-bold text-[#2196F3]">programming</span>, 
        I am constantly looking for <span class="font-bold text-[#E91E63]">challenges</span> and <span class="font-bold text-[#FF9800]">opportunities</span> to grow <span class="font-bold text-[#009688]">professionally</span>. 
        My focus is on creating <span class="font-bold text-[#7CB342]">technological solutions</span> that are <span class="font-bold text-[#F57C00]">innovative</span> and <span class="font-bold text-[#64B5F6]">efficient</span>, 
        using the latest <span class="font-bold text-[#9E9E9E]">technologies</span> and <span class="font-bold text-[#2196F3]">tools</span> available.
    </p>
    <br>
    <p class="text-[#64E9F8]">In addition to my experience in <span class="font-bold text-[#4CAF50]">web development</span>, 
        I also have experience in <span class="font-bold text-[#FFC107]">design and development</span> of web applications, 
        using technologies such as <span class="font-bold text-[#2196F3]">Angular</span>, <span class="font-bold text-[#E91E63]">Bootstrap</span> and <span class="font-bold text-[#8BC34A]">Tailwind</span>. 
    </p>
    <div class="text-center mt-5">
        <a href="./assets/pdf/CV/cv_nbgl_2025.pdf" class="p-3 text-blue-200 bg-blue-900 hover:bg-blue-800 hover:outline-1 outline-blue-500 rounded-md" download="./assets/pdf/CV/cv_nbgl_2025.pdf">Download CV</a>
    </div>
    <img src="./assets/images/logo.png" alt="logo" class="absolute hidden lg:block top-0 -z-10 -rotate-12 -translate-x-2 sm:-translate-x-18 animate-pulse left-0 size-10 sm:size-20 mb-5 border border-gray-700 rounded-md">
</section>