/* animation for skills cards */
.skill_card_animated {
    animation: appear-from-bottom-cards ease-in-out forwards;
}

@keyframes appear-from-bottom-cards {
    0% {
        opacity: 0;
        transform: translateY(60%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* animation for certificate card */
.certificate_card_animated {
    animation: appear-from-top-cards ease-in-out forwards;
    opacity: 0;
}

@keyframes appear-from-top-cards {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 100;
        transform: translateY(0);
    }
}

/* animation for arrow at toogle switch */
.arrow-right-bounce {
    animation: arrow-right-bounce .25s ease-in-out alternate infinite;
}

@keyframes arrow-right-bounce {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(5px);
    }
}