/* Welcome text animation */
.animated__welcome_text {
    opacity: 0;
    animation: welcome_text 2s ease-in-out;
    animation-delay: .5s;
}

@keyframes welcome_text {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* Screen animation */
.screen_animation_appear {
    opacity: 0;
    animation: screen_animation_appear .75s ease-in-out forwards;
    animation-delay: 2.5s;
}

@keyframes screen_animation_appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}