<main class="*:not-odd:mb-30 my-10 sm:my-0 *:first:mb-30">
    <header class="relative pb-12.5 pt-5 px-5 rounded-2xl bg-gray-900 -z-20 hover:animate-pulse">
        <img src="./assets/images/logo.png" alt="logo" class="hidden -z-10 lg:block absolute size-16 rounded-md">
        <h2 class="text-3xl text-center font-title">Naim Babanaceur Garcia De Lara</h2>
        <p class="absolute bottom-0 left-0 right-0 text-center text-lg text-nowrap -translate-y-3 opacity-50 animate-bounce"> -- Front-End Developer -- </p>
    </header>
    <!-- begin :: HERO Section -->
    <section id="hero" class="max-w-[900px] mx-auto flex flex-row gap-15 lg:gap-5 flex-wrap justify-center items-center">
        <div id="hero_content_paragraphs" class="max-w-[500px]">
            <p>Mi expertise se centra en <b class="text-red-300">Angular</b> y <b class="text-blue-300">React</b>, 
                junto con frameworks CSS como <b class="text-blue-500">Bootstrap</b> y <b class="text-blue-300">Tailwind</b>, 
                permitiéndome desarrollar interfaces responsivas y modernas.
            </p>
            <br>
            <p>Me caracterizo por mantenerme constantemente actualizado con las últimas <b class="text-amber-300/95">tecnologías</b> del sector, 
                siempre buscando formas innovadoras de mejorar mis <b class="text-gray-300">habilidades</b> y ofrecer soluciones más <b class="text-cyan-300">eficientes</b>. 
            </p>
            <br>
            <p class="text-sm text-center opac">La programación no es solo mi <b class="text-red-400">profesión</b>, es mi <b class="text-blue-300">pasión</b>. </p>
            <div class="flex justify-center gap-5 md:gap-45 items-center mt-10">
                <a href="./assets/pdf/CV/cv_nbgl_2025.pdf" class="p-3 text-blue-200 bg-blue-900 hover:bg-blue-800 hover:outline-1 outline-blue-500 rounded-md" download="./assets/pdf/CV/cv_nbgl_2025.pdf">Descargar CV</a>
                <div class="flex flex-nowrap gap-4 items-center justify-center" id="social_links">
                    <a href="https://github.com/nbglroot/" target="_blank">
                        <i class="fab fa-github text-4xl text-blue-400 hover:text-blue-200 transition duration-100"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/naimbgdl" target="_blank">
                        <i class="fab fa-linkedin text-4xl text-blue-400 hover:text-blue-200 transition duration-100"></i>
                    </a>
                </div>
            </div>
        </div>
        <div id="hero_content_image" class="relative bg-gray-700/75 mx-auto text-center overflow-hidden w-90 h-120 rotate-0 lg:rotate-3 outline-1 outline-gray-500/50 rounded-md">
            <span class="absolute top-0 right-0 left-0 translate-y-1 font-title tracking-wider underline underline-offset-6 text-gray-400/35 text-2xl">Naim Babanaceur <br> García de Lara</span>
            <img src="./assets/images/nbglroot.png" data-popover-target="popover-default" data-popover-placement="bottom" alt="Imagen de Naim Babanaceur García de Lara" class="relative backdrop-blur-2xl w-full h-full object-cover my-auto rounded-md grayscale-25">
        </div>
    </section>
    <!-- end :: HERO Section -->

    <span id="skillsAndCertificatesDivider" class="flex items-center max-w-[1400px] mx-auto mb-12 dividers_sections"> <!-- Divider :: (top) = HERO Section | (bottom) = SKILLS and CERTIFICATES Section -->
        <span class="shrink-0 pe-4 text-gray-900 dark:text-white"> Skills y Certificados </span>
      
        <span class="h-px flex-1 bg-gray-300 dark:bg-gray-600"></span>
    </span>
      
    <!-- begin :: SKILLS and CERTIFICATES Section -->
     <app-skills-certificates-section></app-skills-certificates-section>
    <!-- end :: SKILLS and CERTIFICATES Section -->

    <span class="flex items-center max-w-[1400px] mx-auto mb-12 dividers_sections"> <!-- Divider :: (top) = SKILLS and CERTIFICATES Section Section | (bottom) = EXPERIENCE Section -->
        <span class="shrink-0 pe-4 text-gray-900 dark:text-white">Experiencia</span>
      
        <span class="h-px flex-1 bg-gray-300 dark:bg-gray-600"></span>
    </span>

    <!-- begin :: EXPERIENCE Section -->
    <app-experiences-display></app-experiences-display>
    <!-- end :: EXPERIENCE Section -->

    <span class="flex items-center max-w-[1400px] mx-auto mb-12 dividers_sections"> <!-- Divider :: (top) = EXPERIENCE Section | (bottom) = PROJECTS Section -->
        <span class="shrink-0 pe-4 text-gray-900 dark:text-white">Proyectos</span>
      
        <span class="h-px flex-1 bg-gray-300 dark:bg-gray-600"></span>
    </span>

    <!-- begin :: PROJECTS Section -->
    <app-projects-display></app-projects-display>
    <!-- end :: PROJECTS Section -->

    <span class="flex items-center max-w-[1400px] mx-auto mb-12 dividers_sections"> <!-- Divider :: (top) = PROJECTS Section | (bottom) = ABOUT Section -->
        <span class="shrink-0 pe-4 text-gray-900 dark:text-white">Sobre mí</span>
      
        <span class="h-px flex-1 bg-gray-300 dark:bg-gray-600"></span>
    </span>

    <!-- begin :: ABOUT Section -->
    <app-about-ngdl></app-about-ngdl>
    <!-- end :: ABOUT Section -->

    <span class="flex items-center max-w-[1400px] mx-auto mb-12 dividers_sections"> <!-- Divider :: (top) = ABOUT Section | (bottom) = CONTACT Section -->
        <span class="shrink-0 pe-4 text-gray-900 dark:text-white">Contacta me</span>
      
        <span class="h-px flex-1 bg-gray-300 dark:bg-gray-600"></span>
    </span>

    <!-- begin :: CONTACT Section -->
    <app-contact-form></app-contact-form>
    <!-- end :: CONTACT Section -->
    
</main>

<!-- begin :: POPOVER - HERO Section -->
<div data-popover id="popover-default" role="tooltip" class="absolute z-10 invisible inline-block w-68 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-xs opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
    <div class="px-3 py-2 bg-gray-100 border-b border-gray-200 rounded-t-lg dark:border-gray-600 dark:bg-gray-700">
        <p class="font-semibold">Naim Babanaceur García de Lara</p>
    </div>
    <div class="px-3 py-2">
        <p>Jerez de la Frontera, Cadíz, España</p>
    </div>
<div data-popper-arrow></div>
</div>
<!-- end :: POPOVER - HERO Section -->