.experiences-c {
  opacity: 0;
  transform: translateX(-100%);
  animation: slide-in 1s ease-in-out forwards;
}

.exp-title {
  opacity: 0;
  transform: translateY(25%);
  animation: slide-text 0.5s ease-in-out 1s forwards;
}

.exp-time {
  opacity: 0;
  transform: translateX(25%);
  animation: slide-in 0.5s ease-in-out 1.25s forwards;
}

.exp-p {
  opacity: 0;
  transform: translateY(25%);
  animation: slide-text 0.5s ease-in-out 1.75s forwards;
}

@keyframes slide-in {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-text {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
