<main class="sm:ml-64 my-15 h-screen sm:my-0 p-3.5 md:p-5">
    <h2>Explore my recent <span class="font-bold underline underline-offset-4">Projects</span>.</h2>
    <app-projects-section [inNeedOfActivation]="activateAnimation"></app-projects-section>
    <a href="https://github.com/NbglRoot?tab=repositories" target="_blank" class="text-md flex flex-row justify-center items-center w-max mx-auto gap-2.5 p-2 bg-blue-600 hover:bg-blue-800 text-white rounded-md">See More <i class="fa-brands fa-github text-2xl"></i></a>
</main>